<app-menu></app-menu>
<div class="banner">
    <h2>Biografía</h2>
  <div class="textopa">
    <p>System of a Down es una banda de metal alternativo de ascendencia armenia formada en Los Ángeles en el año 1995.  Aunque en un principio se llamaron Soil, pronto adoptaron el nombre "System of a Down" inspirados por el poema Victims of a Down escrito por el guitarrista Daron Malakian. Son famosos por realizar canciones con líricas que mantienen una ideología en contra del maltrato infantil, la violencia, la guerra, la pornografía violenta y machista, el dominio del dinero sobre la sociedad, las diferencias sociales, físicas e ideológicas de cada ser humano, la intolerancia y la discriminación, entre otros.</p>
    <p>El momento de popularidad más alto de la banda llegó con su segundo álbum, "Toxicity". Este incluía <em>Chop Suey!, </em>un single que acabó por convertirse en uno de los temas de más éxito del grupo a pesar de que fue suprimido de las radios durante semanas por la alta carga política de su letra.</p>
    <p>Los componentes de System of a Down son Serj Tankian (voz/teclado/ocasionalmente guitarra), Daron Malakian (guitarra/voz), Shavo Odadjian (bajo) y John Dolmayan (batería).</p>
  </div>
  <img src="https://storage.googleapis.com/stateless-elclubdelrock-com/2020/02/39d8ec17-system-of-a-down-2019.jpg" alt="">
  <div class="textopa">
    <p>La banda californiana de origen armenio System of a Down fue formada en el año 1994 y alcanzó el reconocimiento mundial con su segundo álbum, Toxicity, que fue publicado en el 2001. Poseedores de un particular e inclasificable estilo, la música del cuarteto de heavy metal ha recibido todo tipo de calificativos. Del nu metal al rock progresivo, con más de 40 millones de discos vendidos en todo el mundo, el grupo ha tenido diversos altibajos en su carrera debido al interés de sus miembros en expandir territorios musicales a través de otros proyectos creativos alternativos. De hecho, su último trabajo de estudio se publicó en el año 2005.</p>
  </div>
</div>
<app-footer></app-footer>
