<app-menu></app-menu>
<div class="banner">
    <h2>Biografía</h2>
  <div class="textopa">
    <p>System of a Down es una banda de metal alternativo de ascendencia armenia formada en Los Ángeles en el año 1995.  Aunque en un principio se llamaron Soil, pronto adoptaron el nombre "System of a Down" inspirados por el poema Victims of a Down escrito por el guitarrista Daron Malakian. Son famosos por realizar canciones con líricas que mantienen una ideología en contra del maltrato infantil, la violencia, la guerra, la pornografía violenta y machista, el dominio del dinero sobre la sociedad, las diferencias sociales, físicas e ideológicas de cada ser humano, la intolerancia y la discriminación, entre otros.</p>
    <p>El momento de popularidad más alto de la banda llegó con su segundo álbum, "Toxicity". Este incluía <em>Chop Suey!, </em>un single que acabó por convertirse en uno de los temas de más éxito del grupo a pesar de que fue suprimido de las radios durante semanas por la alta carga política de su letra.</p>
    <p>Los componentes de System of a Down son Serj Tankian (voz/teclado/ocasionalmente guitarra), Daron Malakian (guitarra/voz), Shavo Odadjian (bajo) y John Dolmayan (batería).</p>
  </div>
  <img src="https://firebasestorage.googleapis.com/v0/b/musicos-75fae.appspot.com/o/fotonoticia_20161015090403_420.jpg?alt=media&token=9cfe19da-1a7a-4eee-ad8f-fae7d8f8cc49" alt="">
</div>
<app-footer></app-footer>
