<app-menu></app-menu>
<div class="cont">
  <div class="card cont2" *ngFor="let integrante of integrantes" style="width: 18rem;">
    <img src={{integrante.foto}} class="card-img-top img2" alt="...">
    <div class="card-body">
      <h4 class="card-title">{{integrante.nombre}}</h4>
      <br>
      <h6>Fecha de Nacimiento</h6>
      <p class="card-text">{{integrante.nacimiento}}</p>
      <h6>Estatura</h6>
      <p class="card-text">{{integrante.estatura}}</p>
      <h6>Rol</h6>
      <p class="card-text">{{integrante.rol}}</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
