.banner{
  background-image: url("https://firebasestorage.googleapis.com/v0/b/musicos-75fae.appspot.com/o/System_of_a_Down.webp?alt=media&token=26e6e960-1451-428f-a639-20cb5807e1f8");
  background-position: top center;
  background-size: cover;
  padding: 5% 30% 20% 20%;
  height: 900px;
}
